
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <script src="https://kit.fontawesome.com/67db1bfb18.js" crossorigin="anonymous"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
<link href="~/Content/AdminNavBar.css" rel="stylesheet" type="text/css" />
<body>

   @Html.Partial("_NavBar") 
    <div class="page-wrapper chiller-theme toggled">
        <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
            <i class="fas fa-bars"></i>
        </a>
        <nav id="sidebar" class="sidebar-wrapper">
            <div class="sidebar-content">
                <div class="sidebar-brand">
                    <a href="#">Open Source Blog</a>
                    <div id="close-sidebar">
                        <i class="fas fa-times"></i>
                    </div>
                </div>
                <div class="sidebar-header">
                  
                </div>
              
                <!-- sidebar-search  -->
                <div class="sidebar-menu">
                    <ul>
                        <li class="header-menu">
                        </li>
                        <li class="sidebar-dropdown">
                            <a href="#">
                                <span>Posts</span>
                            </a>
                            <div class="sidebar-submenu">
                                <ul>
                                    <li class="nav-item"><a href="#" data-url='@Url.Action("Create", "Posts")' class="nav-link">Create Posts</a></li>
                                    <li class="nav-item"><a href="#" data-url='@Url.Action("Index", "Posts")' class="nav-link">View Posts</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- sidebar-menu  -->
            </div>
            <!-- sidebar-content  -->
            <div class="sidebar-footer">
               
            </div>
        </nav>
        <!-- sidebar-wrapper  -->
        <div id="main_page_content" class="page-content">
            @RenderBody()
        </div>
    </div>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                    crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                    crossorigin="anonymous"></script>



            @Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/bootstrap")
            @Scripts.Render("~/bundles/opensourceblog")
            @RenderSection("scripts", required: false)
            <script>
                jQuery(function ($) {

                    $(".sidebar-dropdown > a").click(function () {
                        $(".sidebar-submenu").slideUp(200);
                        if ($(this).parent().hasClass("active")) {
                            $(".sidebar-dropdown").removeClass("active");
                            $(this).parent().removeClass("active");
                        } else {
                            $(".sidebar-dropdown").removeClass("active");
                            $(this).next(".sidebar-submenu").slideDown(200);
                            $(this).parent().addClass("active");
                        }
                    });

                    $("#close-sidebar").click(function () {
                        $(".page-wrapper").removeClass("toggled");
                    });
                    $("#show-sidebar").click(function () {
                        $(".page-wrapper").addClass("toggled");
                    });
                });
                $('.nav-link').on('click', function(evt) {
                    evt.preventDefault();
                    evt.stopPropagation();

                    var $detailDiv = $('#main_page_content'),
                        url = $(this).data('url');

                    $.get(url, function(data) {
                        $detailDiv.replaceWith(data);         
                    });
                });
            </script>
</body>
</html>

