@using OpenSourceBlog.Database.Models
﻿@model OpenSourceBlog.Database.Models.Post
@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1>BETTERBLOGENGINE.NET</h1>
</div>

<div class="row">
        <div class="Postbox">
            <h1>
                @Html.DisplayFor(model => model.Title)
            </h1>
            <p>
                By @Html.DisplayFor(model => model.Author)
            </p>
            <p>
                <i>@Html.DisplayFor(model => model.DateCreated)</i>
                @*if the modified time is not empty then display it
        @if (!(model.DateModified.ToString().Equals(String.Empty)))
        {
            <i>| Edited: @Html.DisplayFor(model => model.DateModified)</i>
        }*@
            </p>
            @*<p>
                    Rating: @Html.DisplayFor(modelItem => item.Rating)
                </p>*@
            <p>
                <i>@Html.DisplayFor(model => model.Description)</i>
            </p>
            <hr>
            <p>
                @Html.Raw(@Html.DisplayFor(model => model.PostContent))
            </p>
        </div>
</div>
