@using OpenSourceBlog.Database.Models
@model IEnumerable<Post>
@{
    ViewBag.Title = "Archived Blog Posts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .Postbox {
        background-color: white;
        border-radius: 20px;
        padding: 20px;
        height: auto;
        width: auto;
        border: 1px solid grey;
        /*box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 15px 0 rgba(0, 0, 0, 0.19);*/
    }
</style>

<script src="~/Scripts/ckeditor/ckeditor.js"></script>
<script src="~/Scripts/ckeditor/adapters/jquery.js"></script>

<h2>@ViewBag.Title</h2>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="Postbox">
            <h1>
                @Html.DisplayFor(modelItem => item.Title)
            </h1>
            <p>
                By @Html.DisplayFor(modelItem => item.Author)
            </p>
            <p>
                <i>Created: @Html.DisplayFor(modelItem => item.DateCreated)</i>
                @*if the modified time is not empty then display it*@
                @if (!item.DateModified.ToString().Equals(String.Empty))
                {
                    <i>Edited: @Html.DisplayFor(modelItem => item.DateModified)</i>
                }
            </p>
            @*<p>
                    Rating: @Html.DisplayFor(modelItem => item.Rating)
                </p>*@
            <p>
                <i>Description: @Html.DisplayFor(modelItem => item.Description)</i>
            </p>
            <p>
                @Html.Raw(item.PostContent)
            </p>
        </div>
    }
</div>