@using PagedList.Mvc;
@model OpenSourceBlog.Models.HomeViewModel

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    img.rounded-corners {
        border-radius: 50%
    }

    .verticalLine {
        border-left: thin solid #000000;
        margin-left: 3px;
        margin-right: 3px;
        margin-top: 3px;
    }
    
    h2{
        margin-top: 10px;
    }

</style>

<article class="news-article">
    <script>
        function redirectURL(identifier, targetID) {
            if (identifier == 1)
                window.location = createPostURL(targetID);
            if (identifier == 2)
                window.location = createAuthorURL(targetID);
        }

        function createPostURL(targetID) {
            var URL = "/posts/details/" + targetID;
            return URL;
        }

        function createAuthorURL(targetID) {
            var URL = "/profiles/details/" + targetID;
            return URL;
        }
        $('.nav-link').on('click', function (evt) {
            evt.preventDefault();
            evt.stopPropagation();

            var $detailDiv = $('#main_page_content'),
                url = $(this).data('url');

            $.get(url, function (data) {
                $detailDiv.html(data);
            });
        });
    </script>


    @{
        foreach (var item in Model.Setting)
        {
            if (item.SettingName.Equals("Blog Title"))
            {
                ViewData["BlogTitle"] = item.SettingValue;
            }
            else if (item.SettingName.Equals("Blog Description"))
            {
                ViewData["BlogDesc"] = item.SettingValue;
            }
        }

    }


    <h2 align="center">@ViewData["BlogTitle"]</h2>
    <h3 align="center">@ViewData["BlogDesc"]</h3>

    <div class="row">
        @Html.ActionLink("Most Recent", "postSort", new { id = 1 }, null)
        <div class="verticalLine"></div>
        @Html.ActionLink("Least Recent", "postSort", new { id = 2 }, null)
        <div class="verticalLine"></div>
        @Html.ActionLink("Highest Rated", "postSort", new { id = 3 }, null)

    </div>


    @using (Html.BeginForm("Index", "Home", FormMethod.Get))
    {
        <p>
            Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
            <input type="submit" value="Search" />
        </p>
    }

    @foreach (var item in Model.Post)
    {
        <div class="Postbox">
            <h1>
                <a href="#" style="color:#000000;" onclick="redirectURL(1,@(item.PostRowId)); return false;">@Html.DisplayFor(modelItem => item.Title)</a>
            </h1>
            <div>
                <img src="https://www.gravatar.com/avatar/00000000000000000000000000000000?s=200" onload="this.onload=null; this.src=getIconUrl('@(item.Author)');" class="rounded-corners" alt="Avatar" style="width:30px">
                @*<a href="#" data-url='@Url.Action("getAuthorId","Profiles", new { email = item.Author })' class="nav-link">*@
                By @Html.ActionLink(item.Author, "getAuthorId", "Profiles")

                <i>@Html.DisplayFor(modelItem => item.DateCreated)</i>
                @*if the modified time is not empty then display it*@
                @if (!item.DateModified.ToString().Equals(String.Empty))
                {
                    <i>| Edited: @Html.DisplayFor(modelItem => item.DateModified)</i>
                }
            </div>
            @*<p>
                    Rating: @Html.DisplayFor(modelItem => item.Rating)
                </p>*@
            <p>
                <i>@Html.DisplayFor(modelItem => item.Description)</i>
            </p>
            <hr>
            <p>

                @Html.Raw(item.PostContent.Length > 400 ? item.PostContent.Substring(0, 400) : item.PostContent)
                @if (item.PostContent.Length > 400)
                {
                    <a href="#" class="font-weight-bold" onclick="redirectURL(1,@(item.PostRowId)); return false;"> ...Continue Reading</a>
                }
            </p>
        </div>
    }

    Page @(Model.Post.PageCount < Model.Post.PageNumber ? 0 : Model.Post.PageNumber) of @Model.Post.PageCount
    @Html.PagedListPager(Model.Post, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

</article>
