@using OpenSourceBlog.Database.Models
﻿@model IEnumerable<Post>
@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1>BETTERBLOGENGINE.NET</h1>
</div>
<style>
    img.rounded-corners {
        border-radius: 50%
    }
</style>

<article class="news-article">
    <script>
        function redirectURL(identifier, targetID) {
            if (identifier == 1)
                window.location = createPostURL(targetID);
            if (identifier == 2)
                window.location = createAuthorURL(targetID);
        }

        function createPostURL(targetID) {
            var URL = "/posts/details/" + targetID;
            return URL;
        }

        function createAuthorURL(targetID) {
            var URL = "/account/" + targetID;
            return URL;
        }
    </script>

    @Html.ActionLink("Most Recent", "mostRecentSort", "Home")
    @Html.ActionLink("Least Recent", "leastRecentSort", "Home")
    @Html.ActionLink("Highest Rated", "highestRatedSort", "Home") 

    @*
        <select onchange="location = this.options[this.selectedIndex].value;">
            <option value="#">Select an option</option>
            <option value="1">Most Recent</option>
            <option value="2">Least Recent</option>
            <option value="3">Popular</option>
        </select>
    *@


    @foreach (var item in Model)
    {
        <div class="Postbox">
            <h1>
                <a href="#" style="color:#000000;" onclick="redirectURL(1,1); return false;">@Html.DisplayFor(modelItem => item.Title)</a>
            </h1>
            <div>
                <img src="https://www.gravatar.com/avatar/00000000000000000000000000000000?s=200" class="rounded-corners" alt="Avatar" style="width:30px">
                By <a href="#" onclick="redirectURL(2,1); return false;">@Html.DisplayFor(modelItem => item.Author)</a>
                <i>@Html.DisplayFor(modelItem => item.DateCreated)</i>
                @*if the modified time is not empty then display it*@
                @if (!item.DateModified.ToString().Equals(String.Empty))
                {
                    <i>| Edited: @Html.DisplayFor(modelItem => item.DateModified)</i>
                }
            </div>
            @*<p>
                    Rating: @Html.DisplayFor(modelItem => item.Rating)
                </p>*@
            <p><p></p>
            <i>@Html.DisplayFor(modelItem => item.Description)</i>
            </p>
            <hr>
            <p>
                @Html.Raw(item.PostContent.Length > 400 ? item.PostContent.Substring(0, 400) : item.PostContent)
                <a href="#" class="font-weight-bold" onclick="redirectURL(1,1); return false;"> ...Continue Reading</a>
            </p>
        </div>
    }
</article>
