@model List<OpenSourceBlog.Database.Models.Setting>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminNavBar.cshtml";
}

<h2>Manage Settings</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(m => m[0].SettingName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].SettingValue)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.SettingName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SettingValue)
            </td>
        </tr>
    }

</table>

@Html.ActionLink("Manage Settings", "ManageSettings", "Settings", null, new { @class = "btn btn-dark btn-block"});
