@using OpenSourceBlog.Database.Models
@model OpenSourceBlog.Database.Models.Profile
﻿@*model OpenSourceBlog.Models.ProfileViewModel *@
@{
    ViewBag.Title = "User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    p.small {
        line-height: 0;
    }

    img.rounded-corners {
        margin: -95px 10px 0px 50px;
        z-index: 9;
        width: 15%;
        border: 10px solid white;
        border: 10px solid white;
        border-radius: 50%
    }

    .homenav {
        padding-left: 3px;
        padding-right: 3px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .homenav a {
        padding-left: 5px;
        padding-right: 5px;
        margin-left: 2px;
        margin-right: 2px;
        border-bottom: 3px solid transparent;
    }

    .homenav a:hover {
        border-bottom: 3px solid black;
    }

    .homenav a.active {
        border-bottom: 3px solid black;
    }

    .profile img.image-lg {
        z-index: 0;
        width: 100%;
        margin-bottom: 10px;
    }

    .first-column {
        width: 65%;
        padding: 0 10px 0 0;
        float: left;
    }

    .button-column {
        width: 5%;
        padding: 0 10px 0 0;
        float: right;
    }

    .second-column {
        width: 15%;
        padding: 0 10px 0 0;
        float: right;
    }

    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 20%; /* Location of the box */
        left: 0%;
        top: 0%;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto;
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
</style>


<nav class="homenav navbar-expand-sm border border-right-0 border-left-0">
    <div class="container">
        <div class="navbar-collapse collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav mr-auto">
                <li>
                    <a href="#" onclick="goBack()" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="color: #000000; text-decoration: none">Back<span class="caret"></span></a>

                </li>
            </ul>
            @using (Html.BeginForm("Index", "Home", FormMethod.Get))
            {
                @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
                <input type="submit" value="Search" placeholder="Search" />
            }
        </div>
    </div>
</nav>

<div>
    <div class="container">
        <div class="profile">
            <img align="left" class="image-lg" src="https://i.pinimg.com/originals/60/bf/7c/60bf7c84a3f4bb95b2a4d0697bbedbae.jpg" />
            <img class="rounded-corners" align="left" src="https://www.gravatar.com/avatar/00000000000000000000000000000000?s=200" onload="this.onload=null; this.src=getIconUrl('@Html.DisplayFor(m => m.UserName)');">
            <div class="Postbox">
                <div class="row">
                    <div class="first-column">
                        <p class="small">
                            <h1>@Html.DisplayFor(m => m.SettingName)</h1>
                            @Html.DisplayFor(m => m.UserName)
                        </p>
                    </div>
                    @*
                    <div class="second-column">
                        <p class="small">
                            <center>
                                <h3><strong>4</strong></h3>
                                Posts
                            </center>
                        </p>
                    </div>
                    <div class="second-column">
                        <p class="small">
                            <center>
                                <h3><strong>0</strong></h3>
                                Comments
                            </center>
                        </p>
                    </div>
                    <div class="button-column">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <button style="border: 0; background: transparent" id="editBtn"><img src="~/Scripts/ckeditor/plugins/widget/images/handle.png" width="15" height="15" alt="submit" /></button>
                        }
                    </div>
                    <div id="editModal" class="modal">
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            @using (Html.BeginForm("Details", "Profiles"))
                            {
                                @Html.AntiForgeryToken()
                                <center>
                                    @Html.LabelFor(m => m.SettingName, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(m => m.SettingName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(m => m.SettingValue, "", new { @class = "text-danger" })
                                    <input type="submit" value="Save" class="btn btn-primary" />
                                </center>
                            }
                        </div>
                    </div>*@
                </div>
            </div>
            @*if this user is admin/editor
                <h2>Latest posts from @Html.DisplayFor(model => model.SettingName)</h2>*@

        </div>
    </div>
</div>


<script>
    var modal = document.getElementById("editModal");
    var btn = document.getElementById("editBtn");
    var span = document.getElementsByClassName("close")[0];

    function goBack() {
        window.history.back();
    }
    btn.onclick = function () {
        modal.style.display = "block";
    }

    span.onclick = function () {
        modal.style.display = "none";
    }

    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>