@model IEnumerable<OpenSourceBlog.Database.Models.Post>

    @{
    ViewBag.Title = "Index";
    }

    <div style="text-align:center; margin-bottom:30px">
        <h1 class="display-4">Blog Posts</h1><hr />
    </div>

    <div class="big-container">
        @foreach (var item in Model)
        {
        <div class="flex-container">
            <div class="title-row">
                <label>Title:</label>
                @Html.DisplayFor(modelItem => item.Title)
            </div>
            <div class="author-row">
                <label>Author:</label>
                @Html.DisplayFor(modelItem => item.Author)
            </div>
            <div class="publish-row">
                <label>Published:</label>
                @item.IsPublished
            </div>
            <div class="deleted-row">
                <label>Deleted:</label>
                @Html.DisplayFor(modelItem => item.IsDeleted)
            </div>
            <div class="button-row btn-group">
                <button class="btn btn-outline-secondary partial-view index_btns" href="#" data-url='@Url.Action("Edit", "Posts", new {id = item.PostRowId})'>Edit</button>
                <button class="btn btn-outline-secondary partial-view index_btns" href="#" data-url='@Url.Action("Details", "Posts", new {id = item.PostRowId})'>Details</button>
                <button class="btn btn-outline-secondary partial-view index_btns" href="#" data-url='@Url.Action("Delete", "Posts", new {id = item.PostRowId})'>Delete</button>
            </div>
        </div>
        }

    </div>
    <script>
    $('.partial-view').on('click', function (evt) {
        evt.preventDefault();
        evt.stopPropagation();

        var $detailDiv = $('#main_page_content'),
            url = $(this).data('url');

        $.get(url, function (data) {
            $detailDiv.html(data);
        });
    });
    </script>
